.new-checkout ul.step li {
  float: left;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}

.new-checkout ul.step li.step_current {
  background: #f9f9f9;
  font-weight: bold;
}

.new-checkout ul#order_steps {
  background-color: #fff;
}

.new-checkout ul.step {
  list-style-type: none;
  margin-bottom: 2em;
  margin-left: 0;
}

.new-checkout ul.step li.step_todo span {
  color: #999;
}

.new-checkout ul.step li a, ul.step li span {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ccc;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  display: block;
  padding: 10px;
}

.new-checkout .newcart-alert.newcartalert-warning {
  background-color: #fdeda4;
  border: 1px solid #fdeda4;
  color: #7c622a;
}

.new-checkout .newcart-alert {
	padding: 15px;
}

.new-checkout .page-heading {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}

.new-checkout {
	padding: 2%;
}

.cart-summary {
  width: 100%;
}

.cart-summary tbody > tr > td, .cart-summary tbody > tr > th, #cart-summary-total tbody > tr > td {
  border: 1px solid #333333;
}

.cart-summary tbody td {
  text-align: center;
  padding: 10px;
}

.checkout-item-description {
  padding-left: 1%;
  text-align: left;
}
	
.cart-summary > thead > tr > th {
  background: #fbfbfb;
  border-bottom-width: 1px;
  color: #333333;
  vertical-align: middle;
  padding: 8px;
}

#cart-summary-total {
  float: right;
  width: 320px;
  margin-top: 2em;
}

#cart-summary-total tbody > tr > td {
	padding: 10px 0 10px 12px;
}

.checkout-totalprice, .checkout-unitprice {
  color: #01a261;
}