.bg {
	background: url(../images/bg.png) !important;
}

#bg_top {
	position: absolute;
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	background-color: #6f8720;
	width: 100%;
	color: #e2e2e2;
	left: 0px;
}

.text-color-red {
    color: #e0476a !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bg_top_fixed_heigth {
	position: absolute;
	background-position: center;
	background-position: top;
	background-repeat: no-repeat;
	background-color: #6f8720;
	width: 100%;
	color: #e2e2e2;
	height: 195px;
	left: 0px;
}

#bg_footer {
	background-image: url(../images/bg_bottom.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 30px;
	background-color: #6F8720;
	border-top: 1px solid #DDD;
	color: #E2E2E2;
	width: 100%;
	position: absolute;
	left: 0px;
}

.margin_left_zero {
	margin-left: 0px !important;
}

/*------------Navigation CSS----------------*/
.aui #navigation .navbar-inner {
	background: transparent;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

.aui #navigation .navbar-inner div ul li {
	background: #D8492D;
}

.nav_li {
	margin-left: 2px;
}

.aui #navigation .navbar-inner div ul li:HOVER, .aui #navigation .navbar .nav>li>a:focus,
	.aui #navigation .navbar .nav>li>a:hover {
	background: #62c000;
}

.aui #navigation .nav .dropdown-menu {
	background: #D8492D none repeat scroll 0 0;
	border-top: 1px solid #A2240B;
}

.aui #navigation .nav li.active a, .aui #navigation .nav li.open>a {
	background: #62c000;
}

.aui .portlet-borderless-container {
	padding: 0 !important;
}

#navigation .navbar-inner {
	padding: 0 !important;
}

.aui .btn-primary:focus, .aui .btn-primary:active, .aui .btn-primary.active,
	.aui .btn-primary.disabled, .aui .btn-primary[disabled] {
	color: white;
	background-color: #dd3628;
}

.aui .btn-primary:hover {
	color: white;
	background-color: #dd3628;
}

/*******Quick Contact CSS**********/
.quick-contact .portlet-borderless-container {
	background: transparent url("../images/bg.png") repeat scroll 0% 0%;
}

.aui .btn-primary {
	background-color: #d8492d;
	background-image: linear-gradient(to bottom, #d8492d 0%, #d66c59 50%, #d8492d 100%,
		#d8492d 100%);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.quick-contact .control-group {
	margin-bottom: 0;
}

.quick-contact .control-group label {
	float: left;
	font-family: tahoma;
	font-size: 13px;
	margin-right: 2em;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 20%;
}

.aboutus-btn {
	margin-top: 17%;
}

.quick-contact legend {
	text-align: center;
	border-image: none;
	border-style: none;
	border-width: 0px;
	color: #555555;
	display: block;
	font-size: 21px;
	line-height: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
	font-size: 24.5px;
	text-transform: uppercase;
}

.quick-contact input[type="text"] {
	margin-bottom: 5px;
}

/************Footer CSS***************/
.footer_wrapper {
	padding: 0 5em 0;
	position: relative;
}

.footer_label {
	color: #d8492d;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}

.text_align_center {
	text-align: center;
}

.aui #bg_footer li {
	list-style: outside none none;
}

.aui #bg_footer .socialsicons ul, .aui #footer ul {
	margin: 0px;
}

.aui #bg_footer .socialsicons li {
	display: inline-block;
}

/*****Social Icons******/
.social-icons ul {
	overflow: hidden;
}

.social-icons ul li {
	list-style-type: none;
	float: left;
}

.social-icons ul li a i {
	background: #205D7A;
	color: #fff;
	width: 40px;
	height: 30px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 21%;
	transition: all 0.2s ease-in-out;
}

.social-icons .fa-facebook {
	background: #3b5998
}

.social-icons .fa-youtube {
	background: #EE3637
}

.social-icons .fa-twitter {
	background: #00aced
}

.social-icons .fa-google-plus {
	background: #dd4b39
}

.social-icons ul li a i:hover {
	opacity: .7;
}
/*****Quick Links*****/

.quick_links li a {
	color: #e1e1e1;
}

.quick_links li a:HOVER {
	color: #FFFFFF;
}

.visa_card {
  text-align: center;
}

.visa_card .card {
	margin-top: 10px;
}

/**********Light Gallery*************/

#lg-outer {
	background: transparent;
}

/*******Cart btn ***********/
#cart-item-count, #cart-item-guest-count {
	background-color: #fff;
	border-radius: 50px;
	color: #d8492d;
	font-weight: bold;
	padding: 5px;
}

.cart-btn {
	background: #d8492d none repeat scroll 0 0;
	text-align: center;
	width: 100%;
	height: 41px;
	border: 0 none;
	border-radius: 5px;
	color: white;
	text-transform: uppercase;
}

.cart-btn:HOVER {
	background: #62C000;
}

.cart-btn a {
	color: white;
	text-transform: uppercase;
}
.cart-btn a:HOVER {
	color:white;
}

.cart-icon, .cart-label {
	padding-left: 2px;
}

/****Search Input****/

#search {
	border: 1px solid #d8492d;
	box-shadow: 0 0 2px 0 inset;
	height: 40px;
	padding: 0 10px;
	width: 72%;
	border-radius : 5px 0 0 5px;
}

.search-btn {
	background: #d8492d none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0 5px 5px 0 !important;
	color: white;
	height: 42px;
	width: 20%;
}
.center {
	text-align: center;
	vertical-align: middle;
	margin-top: 15px;
}

.search-btn:HOVER {
	background: #62C000;
}

.sticky {
	background: rgba(0, 0, 0, 0)
		url("../images/bg.png") repeat scroll 0 0;
	padding-left: 4.6%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	left:0;
	right:0;
}
.fixed_div {
	height: 85px;
}


/*****Scroll to Top****/
.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #eeeeee;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

.span6.otp-btn {
    padding-top: 3.6%;
}

#confirm-otp #counter {
	float: right;
	font-size: 11px;
}

#confirm-otp .control-group {
  margin: 0 !important;
}

/*common css*/

.aui body, label, .aui select, .aui textarea, .aui input[type="text"], 
.aui input[type="password"], .aui input[type="datetime"], 
.aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], 
.aui input[type="time"], .aui input[type="week"], .aui input[type="number"],
.aui input[type="email"], .aui input[type="url"], .aui input[type="search"], 
.aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input, th, td, 
.aui p, .aui .btn, .aui span, .aui label.radio, .aui modal  {
    font-family: "Raleway";
}

.aui .navbar.dockbar ul li a {
  color: #fff;
  text-shadow: none;
}

.aui .navbar.dockbar ul li > ul li a {
	color: #000;
}

.aui .dockbar .nav li.dropdown .dropdown-menu > li > a:focus, .aui .dockbar .nav li.dropdown .dropdown-menu > li > a:hover, 
.aui .dockbar .nav li.dropdown .site-administration-menu > li > a:focus, 
.aui .dockbar .nav li.dropdown .site-administration-menu > li > a:hover {
	background: none;
	color: #00a161;
}

.aui .dockbar .nav li.dropdown .dropdown-menu, .aui .dockbar .nav li.dropdown .site-administration-menu {
	background: #fff;
	border: 0;
	border-radius: 0;
}

.aui .dockbar .nav li.dropdown .dropdown-menu li.active > a, .aui .dockbar .nav li.dropdown .site-administration-menu li.active > a {
	background: none;
}

.dockbar-user-notifications .dropdown-toggle .user-notifications-count {
	background-color: transparent;
	border: 1px solid #fff;
}

.aui .navbar .nav > li > a:focus, .aui .navbar .nav > li > a:hover {
  color: #00a161;
}

.dockbar .divider-vertical  {
	display: none;
}

.aui .dockbar li.dockbar-user-notifications a {
	padding: 5px 5px 0;
}

li.currency select {
	width: inherit;
}

#wrapper {
  padding: 0;
}

.page-title {
    display: none;
}

#navigation li > ul.child-menu {
	border-radius: 0;
	float: left !important;
	padding: 20px;
}

#navigation li ul.child-menu > li {
	display: table-cell;
}

#navigation li ul.child-menu li ul.grandchildmenu li {
	display: -moz-inline-box;
	display: -webkit-box;
}

#mobile_nav, #nav_list {
	display: none;
}

.topHeader ul, #search-div #heading.span3 {
	margin-left: 0;
}

/* #search-div.row-fluid.sticky {
	width: 100%;
} */

.topHeaderWrapper.row-fluid, #search-div.row-fluid, .row-fluid.sticky .mainHeadWrapper, 
.bg .shopListSort.row-fluid, .bg #shopping_list.row-fluid, .bg .content_wrapper, .copyRight.row-fluid, 
.footer_wrapper, .bg .shoppingItemDetails.rowfluid, #breadcrumbs .breadcrumb {
	margin: 0 auto;
	width: 94%;
}

.shopListSort.row-fluid, #shopping_list.row-fluid, .content_wrapper, .shoppingItemDetails.rowfluid,
.new-checkout, .shoppingCartPage{
	margin: 0 auto;
	width: 76%;
}

#search-div.row-fluid.sticky {
	width: 100%;
}

#search-div .span9 {
	padding: 10px 0;
}

#search-div {
	padding: 10px 0;
}

#search-div.sticky {
	padding: 0;
}

.social-icons .fa-facebook, .social-icons .fa-twitter, .social-icons .fa-google-plus, .social-icons .fa-youtube {
	background: none;
}

.topHeader ul.contact {
	float: right;
}

li.langPortlet form, li.langPortlet form .control-group, li.langPortlet form select, .topHeader ul, #search-div h1 {
	margin: 0;
}

li.langPortlet form select {
	width: inherit;
}

.div-bg .aboutus-btn {
	margin-top: 8%;
	text-align: center;
}
/* Navigation */
#navigation .navbar-inner {
	border: 0 none;
}

#navigation.navbar {
	margin-bottom: 0;
}

.aui #navigation .navbar-inner div ul li, .aui #navigation .nav li.active a, 
.aui #navigation .nav li.open > a, .aui #navigation .navbar-inner div ul li:hover, 
.aui #navigation .navbar .nav > li > a:focus, .aui #navigation .navbar .nav > li > a:hover {
	background: none;
}

.aui #navigation .nav .dropdown-menu {
	background: #fff;
	border-top: 0;
	border-radius: none;
}

.aui .navbar .nav > li > .dropdown-menu::before, .aui .navbar .nav > li > .dropdown-menu::after {
	display: none;
}

.aui #navigation li a {
    box-shadow: none;
}

#navigation .nav-collapse > li:hover > ul.child-menu {
	display: block;
	top: 38px;
}

#navigation ul li a {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}

.aui #navigation .child-menu li a {
	color: #222;
}

#navigation .navbar-inner ul > li:hover > a {
	color: #fff;
	text-shadow: none;
}

.aui #navigation .navbar-inner ul.child-menu li a:hover {
	background: transparent;
	color: #00A161;
}

.aui #navigation .grandchildmenu li a span {
	color: #444;
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: normal;
	text-transform: capitalize;
}

.aui #navigation .grandchildmenu li a:hover span {
	color: #00A161;
}

.aui #navigation .grandchildmenu li a:hover {
	text-decoration: none;
}

.homeCarousel .carousel-caption {
	background: none;
	color: #fff;
	text-align: center;
	top: 120px;
}

.div-bg .desc p {
	color: #999;
	font-family: tahoma;
	font-size: 13px;
	line-height: 150%;
	text-align: center !important;
	width: 80%;
}

.aui .btn-primary {
	font-family: tahoma;
    font-size: 13px;
}

.shopListSort.row-fluid {
	margin-top: 2%;
}

#shopping_list .product {
    border: 0;
}

#shopping_list .product:hover {
	border: 0 none;
	box-shadow: none;
}

.shopListSort select {
	width: inherit;
}

.aui .table-striped tbody > tr:nth-child(2n+1) > td, .aui .table-striped tbody > tr:nth-child(2n+1) > th,
.aui .table-hover tbody tr:hover > td, .aui .table-hover tbody tr:hover > th {
	background-color: transparent;
}

.aui table a {
	color: inherit;
}

#hrefFm {
	display: none;
}

.copyRight {
	padding-bottom: 0.2em;
    padding-top: 0.8em;
}

.copyRight h5 {
	margin: 0;
	font-size: 0.8em;
}

footer {
  font-family: tahoma;
  font-size: 12px;
}

.footer_wrapper {
	padding: 0;
}

.footer_wrapper ul {
	margin-left: 0;
}

footer .footer_label {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

footer .social-icons ul li a i {
	font-size: 16px;
	width: 25px;
}

/* right toolsbar*/

#rightbar {
	top: auto;
	position: fixed;
	_position: absolute;
	z-index: 1001;
	right: 0;
	bottom: 60%;
	background: #f1f1f1;
	border: 1px solid #E5E5E5;
	border-left: none
}

.rightbar_wrap, #to_top_wrap, #switch_left_column_wrap,
	#switch_right_column_wrap {
	position: relative;
	z-index: 120;
}

a.icon_wrap {
	background: #f1f1f1;
	color: #00a161;
}

a.icon_wrap, .icon_wrap, a.icon_circle, .icon_circle, .shopping_cart .ajax_cart_right,
	.mobile_bar_tri {
	display: inline-block;
	height: 42px;
	line-height: 36px;
	min-width: 42px;
	padding: 2px;
	text-align: center;
	text-decoration: none;
}

#rightbar a:hover {
	text-decoration: none;
}

a.icon_wrap, .icon_wrap, .shopping_cart .ajax_cart_right {
	color: #222222;
}

.rightbar_wrap a.icon_wrap, #to_top_wrap a.icon_wrap,
	#switch_left_column_wrap a.icon_wrap, #switch_right_column_wrap a.icon_wrap
	{
	border-left: 1px solid #e5e5e5;
	height: 50px;
	padding: 6px;
	width: 40px;
}

#rightbar-shopping_cart, .shopping_cart {
	position: relative;
}

#rightbar-shopping_cart {
	z-index: 122;
}

.icon_text {
	display: block;
	font-size: 0.8333em;
	height: 14px;
	line-height: 14px;
	overflow: hidden;
}

a.icon_wrap.disabled, .icon_wrap.disabled {
	color: #cccccc;
}

.amount_circle {
	background: #666 none repeat scroll 0 0;
	border-radius: 8px;
	color: #fff;
	display: block;
	font-size: 0.916em;
	height: 16px;
	line-height: 14px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 16px;
}

.product .product-details .item-name {
	color: #888;
	font-family: tahoma;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	text-transform: capitalize;
}

.product .product-details #price {
	color: #01a261;
	display: inline-block;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}

.add-to-cart-item-label > h2 {
	color: #666;
	font-size: 24px;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.add-to-cart-item-code {
	color: #888;
    font-size: 12px;
    font-family: tahoma;
}

.add-to-cart-item-price {
	color: #01A261;
	font-size: 24px;
	padding: 20px 0;
	font-family: tahoma;
}

.aui ul.nav-tabs {
	margin-bottom: 0;
	border-bottom: 0;
	margin-top: 3%;
}

.aui ul.nav-tabs li a {
	border: 0 none !important;
	border-radius: 0;
	font-size: 13px;
	font-weight: 600;
	margin: 0;
	padding: 0.833em 1.666em;
	text-transform: uppercase;
}

.aui .shoppingCartPage ul.nav-tabs {
	margin-bottom: 2%;
}

.mycart > h2 {
	color: #ccc;
}

.cart-table .cart-head-row td {
	font-size: 12px;
    font-weight: 600;
    color: #333;
}

.cart-table tbody td, .cart-table tbody h5, .cart-table tbody label {
	font-family: tahoma;
	font-size: 12px;
}
.shoppingItemDetails .span8 p.description {
	padding: 1em 1.8em;
}

.shoppingItemDetails .span8 ul.breadcrumb {
	margin: 0;
}

.shoppingItemDetails p, .shoppingItemDetails ul, .shoppingItemDetails span {
	color: #888;
}

.shoppingItemDetails .span8 .descriptionTabContent {
	background: #222;
	color: #888;
	font-family: tahoma;
    font-size: 12px;
	padding-left: 4%;
}

.new-checkout ul.step li a, ul.step li span {
	border: 1px solid #ccc;
	display: block;
    font-size: 12px;
    padding: 8px 10px 6px;
}

.new-checkout {
	padding: 2% 0;
}

.btn.add-to-cart {
	font-family: fontello;
	font-size: 16.3px;
	text-transform: uppercase;
	width: inherit;
}

.homelayout .content_wrapper .portlet-column {
	border-right: 1px solid #505050;
	max-height: 401px;
	min-height: 260px;
}

/* Search css */

.submit_searchbox {
	margin: 0;
	display: inline-block;
	text-align: center;
	border: 1px solid #e5e5e5;
	vertical-align: middle;
}

#search_block_top {
	display: inline-block;
	margin-right: 4px;
}

#search_block_top .searchbox_inner, #search_block_mobile_bar .searchbox_inner {
	position: relative;
}

#search_block_top .active .search_query, #search_block_mobile_bar .active .search_query {
	background: #ffffff;
}

/* #search_block_top .btn.button-search, #search_block_mobile_bar .btn.button-search {
	background: #333333;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	color: white;
	width: 50px;
	text-align: center;
	padding: 10px 0 11px 0;
} */

#search_block_top .btn.button-search:hover, #search_block_mobile_bar .btn.button-search:hover {
	color: #6f6f6f;
}

#search_block_top .search_query, #search_block_mobile_bar .search_query {
	padding: 6px;
	display: inline-block;
	background: #fbfbfb;
	border: 1px solid #e5e5e5;
	border-right-width: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#search_block_mobile_bar .searchbox_inner {
	text-align: center;
}

#search_block_top.quick_search_simple .search_query {
	display: none;
	position: absolute;
	top: 0;
	right: 100%;
}

#search_block_top.quick_search_simple .searchbox_inner:hover .search_query,
	#search_block_top.quick_search_simple .searchbox_inner.active .search_query {
	display: inline-block;
}

#search_block_top.quick_search_simple .submit_searchbox {
	border-color: transparent;
	background: transparent;
	color: #fff;
	font-size: 18px;
    height: 36px;
    min-width: 36px;
}

#search_block_top.quick_search_simple a.icon_wrap i.icon-0x {
	height: 36px;
	line-height: 34px;
}

#search_block_top.quick_search_simple a.icon_wrap span {
	display: none;
}

/* #search_block_nav .dropdown_tri_inner .icon-search-1 {
	font-size: 1.166em;
	line-height: 1em;
} */

#search_block_nav #search_block_top {
	margin-right: 0;
}

#search_block_nav .search_query {
	width: 220px;
}

#search_block_nav .submit_searchbox {
	position: absolute;
	top: 0;
	right: 0;
}

form#searchbox {
	position: relative;
	z-index: 75;
}

form#searchbox label {
	color: #333333;
}

form#searchbox input#search_query_block {
	margin-right: 10px;
	max-width: 222px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
}

form#searchbox .button.button-small {
	float: left;
}

form#searchbox .button.button-small i {
	margin-right: 0;
}

/* featured-container */

.featured-container .swiper-container {
	 padding: 15px 0;
}

.featured-container .swiper-slide {
	max-width: 200px;
}

.product-image img {
	max-height: 200px;
	max-width: 200px !important;
	min-height: 200px !important;
}