body.blackTheme {
	background: #000 !important;
	color: #fff;
}

/* Dockbar css */

.aui .blackTheme .dockbar .navbar-inner, .aui .dockbar-split .dockbar .navbar-inner,
.aui .blackTheme .dockbar .navbar-inner .nav > li, .aui .dockbar-split .dockbar .navbar-inner .nav > li {
    background-color: #000;
    background-image: none;
}

.blackTheme .dockbar {
	border-bottom: 1px solid #222;
}

.blackTheme .dockbar #p_p_id_7_WAR_htmsdportlet_, .blackTheme .dockbar #p_p_id_7_WAR_htmsdportlet_ .portlet-borderless-container {
	height: inherit;
}

.blackTheme .dockbar li.currency .control-group {
	margin-bottom: 0;
}

.aui .blackTheme .dockbar .nav li.dropdown.open > .dropdown-toggle, .aui .blackTheme .dockbar .nav li.dropdown.active > .dropdown-toggle, 
.aui .blackTheme .dockbar .nav li.dropdown.open.active > .dropdown-toggle, .aui .blackTheme .dockbar.navbar .nav > li > a:hover {
	background-color: transparent;
	color: #fff;
}

.blackTheme .dockbar .navbar-inner li {
	border-right: 1px solid #222;
}

.blackTheme .dockbar .navbar-inner li:first-child,.blackTheme .topHeader ul li:first-child {
    border-left: 1px solid #222;
}

.blackTheme .topHeader ul li {
	border-right: 1px solid #222;
	display: inline-block;
}

/* Header css */

.blackTheme .topHeader {
	border-bottom: 1px solid #222;
}

.blackTheme header, .blackTheme #search-div {
	background: #000;
}

.blackTheme .site-title .site-name {
  color: #fff;
  font-size: 32px;
}

/* Navigation css */

.blackTheme #navigation .navbar-inner ul > li > a {
  color: #ccc;
  text-shadow: none;
}

.blackTheme #navigation .navbar-inner ul.child-menu > li > a {
	color: #222;
}

.blackTheme .modify-pages .delete-tab:hover {
	color: #fff;
}

.blackTheme .modify-pages .delete-tab {
	color: #ccc;
}

.aui .blackTheme .navbar .nav > li > .dropdown-menu::before, .aui .blackTheme .navbar .nav > li > .dropdown-menu::after {
	display: none;
}

.blackTheme #breadcrumbs {
	background: #222;
}

.blackTheme .breadcrumb {
	background-color: #222;
	padding: 1em 0;
}

.blackTheme .breadcrumb a, .blackTheme .breadcrumb .divider, .blackTheme .breadcrumb li {
	color: #888;
	text-shadow: none;
}
/* Carousel css */

.blackTheme #carousel-MAIN_CAROUSEL.thumbnail {
	border: 0;
	padding: 0;
}

.blackTheme table td, .blackTheme table th {
	color: #ccc;
	text-shadow: none;
}

.blackTheme .shopListSort.row-fluid {
	color: #fff;
}

.blackTheme .shopListSort label, .blackTheme .shopListSort .pull-right h5 {
	color: #999;
	font-size: 12px;
}

.blackTheme.bg .portlet-layout.row-fluid.bg_footer {
	background-color: #282828;
}

.blackTheme .row-fluid.div-bg, .blackTheme .quick-contact .portlet-borderless-container {
	background: #282828;
	color: #999;
}

.blackTheme .row-fluid.div-bg h3, .blackTheme .quick-contact legend {
	color: #fff;
	font-size: 17px;
	font-weight: normal;
}

.blackTheme .quick-contact fieldset {
	padding-left: 3%;
}

.blackTheme .quick-contact input[type="text"] {
	border: 1px solid #505050 !important;
}

/* Footer css */

.blackTheme #bg_footer, .blackTheme #bg_footer a {
	background-color: #000;
	background-image: none;
	border: 0;
	color: #777;
}

.blackTheme .footer_bottom {
	background: #222;
}

.blackTheme .footer_label {
	color: #fff;
}

.blackTheme .copyRight h5 {
    margin: 0;
    color: #777;
}

.blackTheme #rightbar a:hover {
	color: #01A261;
}

.blackTheme ul.nav-tabs li.active a {
	background-color: #222;
	color: #fff;
}

.blackTheme ul.nav-tabs li a {
	background-color: #444;
	color: #fff;
}

.aui .blackTheme ul.nav-tabs li a:hover {
	background: #222 !important;
	color: #fff !important;
}

.blackTheme .shoppingItemDetails .span8 .descriptionTabContent {
	background: #222;
}

.aui .blackTheme .btn-primary {
	background-color: #fff;
	background-image: none;
	border-color: #fff;
	color: #01a261;
	text-shadow: none;
}

.aui .blackTheme .btn-primary:hover {
	background-color: #444;
	background-image: none;
	border-color: #444;
	box-shadow: none;
	color: #fff;
}

.blackTheme .cart-table .cart-head-row td {
	border-right: 1px solid #333;
}

.blackTheme .cart-table tbody td:first-child {
	border-left: 1px solid #333;
}

.blackTheme .cart-table tbody td {
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}

.blackTheme .cart-footer .price-text {
	color: #333;
}

.blackTheme #loader-div {
	color: black;
}
