<div class="row-fluid">
    #foreach($title in $Text.getSiblings())
        <div data-wow-delay="900ms" data-wow-duration="500ms" class="span4 wow fadeInRight animated" style="visibility: visible; animation-duration: 500ms; animation-delay: 900ms; animation-name: fadeInRight;">
		    <div class="service-item">
			    <div class="service-icon">
				    <i class="fa fa-$title.Icon.getData() fa-5x"></i>
				</div>
                <div class="service-desc">
                    <h3>$title.getData()</h3>
					<p>$title.Content.getData()</p>
    				<div class="text-center"> 
    				    <a href="$title.Pagelink.getData()"><button class="btn btn-primary">Register</button></a>
    				</div>
				</div>
			</div><!-- end service item -->
		</div>
    #end
</div>
<style>
.service-item {
	background: none repeat scroll 0 0 rgb(242, 247, 255);
	border-radius: 8px;
	box-shadow: 1px 1px #ececec;
	margin: 0 10px 20px;
	min-height: 290px;
	padding: 10px 10px 30px;
	transition: all 0.3s ease-in 0s;
}

.service-item:hover {
    background-color: #ececec;
    box-shadow: 1px 1px rgb(242, 247, 255);
}

.service-icon {
    color: lightgray;
    text-align:center;
}

.service-desc {
  padding: 0px 10px;
  text-align: justify;
}
</style>