<!DOCTYPE html>

#parse ($init)

#set ($bg = "")

#if("/home" == $layout.getFriendlyURL())
	#set ($bg = "bg")
#end

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

	<head>
		<title>$the_title - $company_name</title>
	
		<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
		$theme.include($top_head_include)
		
		<script type="text/javascript" src="$javascript_folder/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="$javascript_folder/jquery.dynatable.js"></script>
		<script type="text/javascript" src="$javascript_folder/lightGallery.min.js"></script>

	</head>
	
	<body class="$css_class $bg">
	
	#if("/home" == $layout.getFriendlyURL())
		<img id="bg_top" src="$images_folder/bg_top.jpg"/>
	#else
		<img id="bg_top_fixed_heigth" src="$images_folder/bg_inner.jpg"/>
	#end
		
	<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>
	
	$theme.include($body_top_include)
	<link rel="stylesheet" href="$css_folder/font-awesome.min.css">
	
	#dockbar()
	
	<div class="container-fluid" id="wrapper">
		<header id="banner" role="banner">
			<div id="heading">
				<h1 class="site-title">
					<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
						<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
	
						#if ($show_site_name)
							<span class="site-name text-color-white" title="#language_format ("go-to-x", [$site_name])">
								$site_name
							</span>
						#end
					</a>
	
				</h1>
	
				<h2 class="page-title">
					<span>$the_title</span>
				</h2>
			</div>
	
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</header>
	
		<div id="content">
			#if("/home" != $layout.getFriendlyURL())
				<nav id="breadcrumbs">#breadcrumbs()</nav>
			#end	
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
		
	</div>
	
	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)
	
	#parse ("$full_templates_path/footer.vm")
		
</body>
</html>