<!DOCTYPE html>

#parse ($init)

#set ($bg = "")

#if("/home" == $layout.getFriendlyURL())
	#set ($bg = "bg")
#end

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

	<head>
		<title>$the_title - $company_name</title>
	
		<meta content="initial-scale=1.0, width=device-width" name="viewport" />
	
		$theme.include($top_head_include)
		
		<script type="text/javascript" src="$javascript_folder/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="$javascript_folder/lightGallery.min.js"></script>

	</head>
	
	<body class="$css_class $bg">
	
	<div id="bg_top_fixed_heigth" class="bg">
	</div>
	
	<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>
	
	$theme.include($body_top_include)
	<link rel="stylesheet" href="$css_folder/font-awesome.min.css">
	
	#dockbar()
	
	<div class="container-fluid" id="wrapper">
		<header id="banner" role="banner">
			<div id="fixed_div"></div>
			<div id="search-div" class="row margin_left_zero">
			
				<div id="heading" class="span4">
					<h1 class="site-title">
						<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
							<img alt="$logo_description" height="65" src="$site_logo" width="65" />
		
							#if ($show_site_name)
								<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
									$site_name
								</span>
							#end
						</a>
		
					</h1>
		
					<h2 class="page-title">
						<span>$the_title</span>
					</h2>
				</div>
				<div class="span6 center">
					<input id="search" placeholder="Search"/><button class="search-btn" onClick="javascript:searchItems();">
						<i class="fa fa-search"></i> SEARCH
					</button>
				</div>
				<div class="span2 center">
					<a href="/cart">
						<button class="cart-btn">
							<i class="fa fa-shopping-cart cart-icon"></i>
							<span class="cart-label"> Cart </span>
							<span id="cart-item-count">&nbsp;0&nbsp;</span>
						</button>	
					</a>
				</div>
			</div>	
			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end
		</header>
		<div id="content">
			#if("/home" != $layout.getFriendlyURL())
				<nav id="breadcrumbs">#breadcrumbs()</nav>
			#end	
	
			#if ($selectable)
				$theme.include($content_include)
			#else
				$portletDisplay.recycle()
	
				$portletDisplay.setTitle($the_title)
	
				$theme.wrapPortlet("portlet.vm", $content_include)
			#end
		</div>
		
	</div>
	
	$theme.include($body_bottom_include)
	
	$theme.include($bottom_include)
	
	#parse ("$full_templates_path/footer.vm")

	<div class="scroll-top-wrapper ">
		<span class="scroll-top-inner">
			<i class="fa fa-2x fa-arrow-circle-up"></i>
		</span>
	</div>
</body>
<script>
	var isMobile = {
	    Android: function() {
	        return navigator.userAgent.match(/Android/i);
	    },
	    BlackBerry: function() {
	        return navigator.userAgent.match(/BlackBerry/i);
	    },
	    iOS: function() {
	        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
	    },
	    Opera: function() {
	        return navigator.userAgent.match(/Opera Mini/i);
	    },
	    Windows: function() {
	        return navigator.userAgent.match(/IEMobile/i);
	    },
	    any: function() {
	        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
	    }
	};
	//Search 
	var elTop = $('#search-div').offset().top;
	var mobile = !isMobile.any();
   	$(window).scroll(function() {
   		if(mobile) {
	        $('#search-div').toggleClass('sticky', $(window).scrollTop() > elTop);
	        $('#fixed_div').toggleClass('fixed_div', $(window).scrollTop() > elTop);
    	} 
    });
    
    //Scroll to Top
	$(function(){
	 
		$(document).on( 'scroll', function(){
	 
			if ($(window).scrollTop() > 100) {
				$('.scroll-top-wrapper').addClass('show');
			} else {
				$('.scroll-top-wrapper').removeClass('show');
			}
		});
		$('.scroll-top-wrapper').on('click', scrollToTop);
	});
	 
	function scrollToTop() {
		verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
		element = $('body');
		offset = element.offset();
		offsetTop = offset.top;
		$('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
	}
	
	AUI().use('aui-base', function(A) {
		Liferay.Service('/htmsd-portlet.shoppingcart/get-shopping-cart-item-count', {
			userId: $user_id
		}, function(obj) {
			$('#cart-item-count').html("&nbsp;"+obj+"&nbsp;");
		});
	});
	
	function searchItems() {
		var searchParam = $('#search').val();
		if(searchParam) {
			window.location.href = '/search?search-param=' + searchParam;
		} 
	}
</script>
</html>