<footer id="bg_footer" role="contentinfo">
	<script type="text/javascript">
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage : 'en',
				layout : google.translate.TranslateElement.InlineLayout.SIMPLE
			}, 'google_translate_element');
		}
	</script>
	<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	
	<div class="footer_wrapper">
		<div class="row-fluid">
			<div class="span3 ">
				<div class="footer_label">
					Contact Us
				</div>
				<ul>
					<li>Locaction : A2zali</li>
					<li># 422, O.T.C. Road,Cottonpet</li>
					<li>Bangalore-560 053</li>
					<li>Phone : +91 94486 94482</li>
					<li>+ 080-22874092</li>
					<li>E-mail : support@a2zali.com</li>
				</ul>
				<div class="row-fluid">
					<div class="social-icons">
						<ul class="contact">
							<li class="socials-icons">
								<a class="facebook" title="Share in Facebook" data-toggle="tooltip" href="#"><i class="fa fa-facebook fa-lg"></i></a>
							</li>
							<li class="socials-icons">
								<a class="twitter" title="Share in Twitter" data-toggle="tooltip" href="#"><i class="fa fa-twitter fa-lg"></i></a>
							</li>
							<li class="socials-icons">
								<a class="google-plus" title="Share in Google +" data-toggle="tooltip" href="#"><i class="fa fa-google-plus fa-lg"></i></a>
							</li>
							<li class="socials-icons">
								<a class="youtube"  data-toggle="tooltip" href="#"><i class="fa fa-youtube fa-lg"></i></a>
							</li>
							<!--<li class="socials-icons">
								<a class="pinterest" title="Share in Pinterest" data-toggle="tooltip" href="#"><i class="fa fa-pinterest fa-2x"></i></a>
							</li>
							<li class="socials-icons">
								<a class="skype" title="Connect with Skype" data-toggle="tooltip" href="#"><i class="fa fa-skype fa-2x"></i></a>
							</li>-->
						</ul>
					</div>
				</div>
			</div>	
			<div class="span3">
				<script>
					(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=551534068335626";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
				<div class="fb-page" data-href="https://www.facebook.com/facebook" data-width="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
					<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/facebook">
							<a href="https://www.facebook.com/facebook">Facebook</a>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="footer_label">
					Quick Links
				</div>
				<ul class="quick_links">
					<li><a href="/home">Home </a></li>
					<li><a href="/gallery">Image Gallery </a></li>
					<li><a href="/video">Video Gallery</a></li>
					<li><a href="/about-us">About US </a></li>
					<li><a href="/contact-us">Contact US </a></li>
					<li><a href="/help">Help </a></li>
				</ul>
			</div>
			<div class="span3">
				<div class="footer_label">
					Policies
				</div>
				<ul class="quick_links">
					<li><a href="/terms-and-conditions">Terms And Conditions </a></li>
					<li><a href="/privacy-policy">Privacy Policy </a></li>
					<li><a href="/legal-notice">Legal Notices </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="copyRight row-fluid">
			<div class="span6">
				#set ($date = $dateUtil)
				#set ($currentYear = $date.getCurrentDate("yyyy", $locale))
				<h5>Copyright © $currentYear @ $site_name </h5>
			</div>
			<div class="span6 text-right">
				<img src="$images_folder/payment-options.png">
			</div>
		</div>	
	</div>
</footer>