<nav class="$nav_css_class navbar site-navigation" id="navigation" role="navigation">
	<div class="navbar-inner">
		<div class="collapse nav-collapse">
			<ul aria-label="#language ("site-pages")" class="nav nav-collapse" role="menubar">
				#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_selected="")
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_caret="")
						#set ($nav_item_css_class="lfr-nav-item")
						#set ($nav_item_link_css_class="")

					#if ($nav_item.isSelected())
						#set ($nav_item_attr_selected="aria-selected='true'")
						#set ($nav_item_css_class="$nav_item_css_class selected active")
					#end

					#if ($nav_item.hasChildren())
						#set ($nav_item_attr_has_popup="aria-haspopup='true'")
						#set ($nav_item_caret='<span class="lfr-nav-child-toggle"><i class="icon-caret-down"></i></span>')
						#set ($nav_item_css_class="$nav_item_css_class dropdown")
						#set ($nav_item_link_css_class="dropdown-toggle")
					#end

					<li class="$nav_item_css_class nav_li" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
						<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
							<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
						</a>

						#if ($nav_item.hasChildren())
							<ul class="dropdown-menu child-menu" role="menu">
								#set($li1 = '<li class="lfr-nav-item span3 li1" role="presentation">')
								#set($li2 = '<li class="lfr-nav-item span3 li2" role="presentation">')
								#set($li3 = '<li class="lfr-nav-item span3 li3" role="presentation">')
								#set($li4 = '<li class="lfr-nav-item span3 li4" role="presentation">')
								#set($li5 = '<li class="lfr-nav-item span3 li5" role="presentation">')
								#set($count = 0)
								#foreach ($nav_child in $nav_item.getChildren())
									#if ($count == 0)
										#set($li1 = $li1 + '<a href="' + $nav_child.getURL() + '">' + $nav_child.getName() + '</a>')
										#if ($nav_child.hasChildren())
											#set($ul1 = '<ul class="grandchildmenu" role="menu">')
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#set($childLi1 = '<li class="lfr-nav-item" role="presentation"><a role=" menuitem " tabindex="-1" href="' + $nav_grandchild.getURL() + '"><span>' + $nav_grandchild.getName() + '</span></a></li>')
												#set($ul1 = $ul1 + $childLi1)
											#end
											#set($ul1 = $ul1 + '</ul>')
											#set($li1 = $li1 + $ul1)
										#end
									#elseif ($count == 1)
										#set($li2 = $li2 + '<a href="' + $nav_child.getURL() + '">' + $nav_child.getName() + '</a>')
										#if ($nav_child.hasChildren())
											#set($ul2 = '<ul class="grandchildmenu" role="menu">')
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#set($childLi2 = '<li class="lfr-nav-item" role="presentation"><a role=" menuitem " tabindex="-1" href="' + $nav_grandchild.getURL() + '"><span>' + $nav_grandchild.getName() + '</span></a></li>')
												#set($ul2 = $ul2 + $childLi2)
											#end
											#set($ul2 = $ul2 + '</ul>')
											#set($li2 = $li2 + $ul2)
										#end
									#elseif ($count == 2)
										#set($li3 = $li3 + '<a href="' + $nav_child.getURL() + '">' + $nav_child.getName() + '</a>')
										#if ($nav_child.hasChildren())
											#set($ul3 = '<ul class="grandchildmenu" role="menu">')
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#set($childLi3 = '<li class="lfr-nav-item" role="presentation"><a role=" menuitem " tabindex="-1" href="' + $nav_grandchild.getURL() + '"><span>' + $nav_grandchild.getName() + '</span></a></li>')
												#set($ul3 = $ul3 + $childLi3)
											#end
											#set($ul3 = $ul3 + '</ul>')
											#set($li3 = $li3 + $ul3)
										#end
									#elseif ($count == 3)
										#set($li4 = $li4 + '<a href="' + $nav_child.getURL() + '">' + $nav_child.getName() + '</a>')
										#if ($nav_child.hasChildren())
											#set($ul4 = '<ul class="grandchildmenu" role="menu">')
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#set($childLi4 = '<li class="lfr-nav-item" role="presentation"><a role=" menuitem " tabindex="-1" href="' + $nav_grandchild.getURL() + '"><span>' + $nav_grandchild.getName() + '</span></a></li>')
												#set($ul4 = $ul4 + $childLi4)
											#end
											#set($ul4 = $ul4 + '</ul>')
											#set($li4 = $li4 + $ul4)
										#end
									#elseif ($count == 4)
										#set($li5 = $li5 + '<a href="' + $nav_child.getURL() + '">' + $nav_child.getName() + '</a>')
										#if ($nav_child.hasChildren())
											#set($ul5 = '<ul class="grandchildmenu" role="menu">')
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#set($childLi5 = '<li class="lfr-nav-item" role="presentation"><a role=" menuitem " tabindex="-1" href="' + $nav_grandchild.getURL() + '"><span>' + $nav_grandchild.getName() + '</span></a></li>')
												#set($ul5 = $ul5 + $childLi5)
											#end
											#set($ul5 = $ul5 + '</ul>')
											#set($li5 = $li5 + $ul5)
										#end
									#end
									#if ($count == 4)
										#set($count = 0)
									#else
										#set($count = $count + 1)
									#end
								#end
								#set($li1 = $li1 + '</li>' )
								#set($li2 = $li2 + '</li>')
								#set($li3 = $li3 + '</li>')
								#set($li4 = $li4 + '</li>')
								#set($li5 = $li5 + '</li>')
								
								#set($lis = $li1 + $li2 + $li3 + $li4 + $li5)
								$lis
							</ul>
						#end
					</li>
				#end
				<!--<li class="search_block_mod quick_search_simple clearfix" id="search_block_top">
					<div id="searchbox">
						<div class="searchbox_inner">
							<input id="search_query_top" class="search_query form-control ac_input" placeholder="Search"/>
							<a id="submit_searchbox" class="submit_searchbox icon_wrap" href="javascript:void(0);">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</div>
				</li>-->
			</ul>
			#if ($layout.isPrivateLayout())
				<ul class="nav nav-collapse pull-right"">
					<li class="backhome">
						<a href="$company_url"> &#10149; Back to Home </a>				
					</li>
				</ul>
			#end
		</div>
	</div>
</nav>

<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
</script>