<nav class="$nav_css_class navbar site-navigation" id="navigation" role="navigation">
	<div class="navbar-inner">
		<div class="collapse nav-collapse">
			<ul aria-label="#language ("site-pages")" class="nav nav-collapse" role="menubar">
				#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_selected="")
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_caret="")
						#set ($nav_item_css_class="lfr-nav-item")
						#set ($nav_item_link_css_class="")

					#if ($nav_item.isSelected())
						#set ($nav_item_attr_selected="aria-selected='true'")
						#set ($nav_item_css_class="$nav_item_css_class selected active")
					#end

					#if ($nav_item.hasChildren())
						#set ($nav_item_attr_has_popup="aria-haspopup='true'")
						#set ($nav_item_caret='<span class="lfr-nav-child-toggle"><i class="icon-caret-down"></i></span>')
						#set ($nav_item_css_class="$nav_item_css_class dropdown")
						#set ($nav_item_link_css_class="dropdown-toggle")
					#end

					<li class="$nav_item_css_class nav_li" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
						<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
							<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
						</a>

						#if ($nav_item.hasChildren())
							<ul class="dropdown-menu child-menu" role="menu">
								#foreach ($nav_child in $nav_item.getChildren())
									#set ($nav_child_attr_selected="")
									#set ($nav_child_css_class="lfr-nav-item")

									#if ($nav_child.isSelected())
										#set ($nav_child_attr_selected="aria-selected='true'")
										#set ($nav_child_css_class="selected")
									#end
									#if ($velocityCount%4 == 1)
									<div class="row-fluid $velocityCount">
									#end
									<li class="$nav_child_css_class span3" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
										<a aria-labelledby="layout_$nav_child.getLayoutId()" href="$nav_child.getURL()" $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
										#if ($nav_child.hasChildren())
											<ul class="grandchildmenu" role="menu">
												#foreach ($nav_grandchild in $nav_child.getChildren())
													#set ($nav_grandchild_attr_selected="")
													#set ($nav_grandchild_css_class="lfr-nav-item")
													#if ($nav_grandchild.isSelected())
														#set ($nav_grandchild_attr_selected="aria selected='true'")
														#set ($nav_grandchild_css_class="selected")
													#end
													<li class="$nav_grandchild_css_class" id="layout_$nav_grandchild.getLayoutId()" $nav_grandchild_attr_selected role="presentation">
													<a aria labelledby ="layout_$nav_grandchild.getLayoutId()" href ="$nav_grandchild.getURL()" $nav_grandchild.getTarget() role=" menuitem ">
														<span>$nav_grandchild.icon() $nav_grandchild.getName() </span>
													</a>
													</li>
												#end
											</ul>
										#end
									</li>
									#if ($velocityCount%4 == 0)
									</div> 
									#end
								#end
							</ul>
						#end
					</li>
				#end
				<li class="search_block_mod quick_search_simple clearfix" id="search_block_top">
					<div id="searchbox">
						<div class="searchbox_inner">
							<input id="search_query_top" class="search_query form-control ac_input" placeholder="Search"/>
							<a id="submit_searchbox" class="submit_searchbox icon_wrap" href="javascript:void(0);">
								<i class="fa fa-search"></i>
							</a>
						</div>
					</div>
				</li>
			</ul>
			#if ($layout.isPrivateLayout())
				<ul class="nav nav-collapse pull-right"">
					<li class="backhome">
						<a href="$company_url"> &#10149; Back to Home </a>				
					</li>
				</ul>
			#end
		</div>
	</div>
</nav>

<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
</script>