@media screen and (max-width:768px) {
	.sticky {
		padding-left:1px;
		.cart-btn {
			width:95%;
		}
	}
	.cart-btn {
		margin-bottom: 20px !important;
	}

	#search {
		width: 70%;
	}
	#heading .site-name img {
		width: 50px !important;
	}
	#heading .site-name {
		font-size: 20px;
		font-weight: bold;
	}
}

@media screen and (max-width:1024px) {	
	.sticky {
		padding-left:1%;
		.cart-btn {
			width:95%;
		}
	}
	.cart-btn {
		margin-bottom: 20px !important;
	}
	#search {
		width: 70%;
	}
}