#set ($article_id = $reserved-article-id.getData())
#set ($content_id = "carousel-${article_id}")
<style>
    .carousel-container .carousel-item {
        height: 100%;
        width: 100%;
    }

    #${content_id} {
        height: ${height.data}px;
    }
</style>
<div class="carousel slide homeCarousel" id="$content_id">
    <div class="carousel-inner">
        #foreach ($item in $carousel-item.siblings)
            #set ($carousel_item_class = "item")

            #if ($velocityCount == 1)
                #set ($carousel_item_class = "$carousel_item_class active")
            #end
            <div class="$carousel_item_class">
                <img class="" src="${item.image.data}"/>
                #if ($item.tagline.data != "")
                    <div class="container">
                        <div class="carousel-caption">
                            <h2>$item.data</h2>
                            $item.tagline.data
                        </div>
                    </div>
                #end
            </div>
        #end
    </div>
    <a data-slide="prev" href="#$content_id" class="left carousel-control">‹</a>
    <a data-slide="next" href="#$content_id" class="right carousel-control">›</a>
</div>
<script type="text/javascript">
    $('.carousel').carousel({
		interval: ($duration.data * 1000)
    })
</script>